@page 
@using EventsFactory.Models
@using EventsFactory.Models.EventPlannerViewModels
@model EventsFactory.Pages.Events.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Book</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Event.EventId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <dl class="row">
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.Event.Location)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Event.Location)
                </dd>
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.Event.EventDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Event.EventDate)
                </dd>
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.Event.EventTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Event.EventTime)
                </dd>
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.Event.NumberOfPeopleRequired)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Event.NumberOfPeopleRequired)
                </dd>
                </dl>
            <div class="form-group">
                 <div class="form-group">
                <label asp-for="Participant.Name" class="control-label"></label>
                <input asp-for="Participant.Name" class="form-control" />
                <span asp-validation-for="Participant.Name" class="text-danger"></span>
            </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Events/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
