@page
@model EventsFactory.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].EventTime)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Events[0].Availability)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Events[0].NumberOfPeopleRequired)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Events[0].ParticipantAssignments)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Events) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPeopleRequired)
            </td>
            <td>
               @foreach (var p in item.ParticipantAssignments)
                {
                    @p.Participant.Name <br />
                }
            </td>
            <td>
                <a class="btn btn-info" role="button" asp-page="./Edit" asp-route-id="@item.EventId">Book</a>
            </td>
        </tr>
}
    </tbody>
</table>

